<%= form_with(model: @grocery, local: true) do |form| %>
  <p>
    <%= form.label :ingredient %><br/>
    <%= form.text_field :ingredient %><br/>
  </p>
  <p>
    <%= form.label :category %><br/>
    <%= form.text_field :category %><br/>
  </p>
  <p>
    <%= form.label :expired_date %><br/>
    <%= form.date_field :expired_date, id:'exp-date' %><br/>
  </p>
  <p>
    <%= form.submit "Submit" %>
  </p>
<% end %>

<%= render 'ocr'%>