<h2> Create new grocery item? </h2>
  <%= button_to "Create Grocery", new_grocery_path %>
<h2> List of Groceries </h2>


<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Ingredient</th>
        <th>Expiring Date</th>
      </tr>
    </thead>
    <tbody>
      <% @groceries.each do |grocery| %>
        <tr>
          <td><%=grocery.ingredient%></td>
          <td><%=grocery.expired_date%></td>
          <td><%= link_to "Edit", edit_grocery_path(grocery) %></td>
          <td><%= link_to "Delete", grocery_path(grocery), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
